In [11]:
# importation
import pandas as pd
import numpy as np

In [12]:
# Q1: pandas version
pd.__version__

'2.2.3'

In [20]:
# getting data
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv"
data = pd.read_csv(url)

# load data into dataframe
df = pd.DataFrame(data)
df.head(10)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
5,MSI Crosshair 17 C12VF-264XES Intel Core i7-12...,New,MSI,Crosshair,Intel Core i7,32,1000,SSD,RTX 4060,17.3,No,1699.00
6,Lenovo Thinkpad E14 Gen 4 AMD Ryzen 5 5625U/8G...,New,Lenovo,ThinkPad,AMD Ryzen 5,8,256,SSD,NaN,14.0,No,909.00
7,ASUS VivoBook 15 F515JA-EJ2882W Intel Core i7-...,New,Asus,VivoBook,Intel Core i7,8,512,SSD,NaN,15.6,No,809.01
8,Medion Akoya E15415 Intel Core i5-10210U/8GB/2...,New,Medion,Akoya,Intel Core i5,8,256,SSD,NaN,15.6,No,519.00
9,HP Victus 16-d1038ns Intel Core i7-12700H/16GB...,New,HP,Victus,Intel Core i7,16,512,SSD,RTX 3050,16.1,No,1149.00

In [31]:
# Q2: Records count
# --> Get number of rows presented in the dataset
df.shape[0]

2160

In [32]:
# Q3: How many laptop brands are presented in the dataset?
# --> Get number of unique item from "Brand" column
df["Brand"].nunique()

27

In [35]:
# Q4: How many columns in the dataset have missing values?
# --> Get the total number of missing values across the dataset
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [46]:
# Q5: What's the maximum final price of Dell notebooks in the dataset?
# --> The total price of Dell laptops
print(df[df["Brand"] == "Dell"]["Final Price"].max())

3936.0

In [54]:
# Q6: Find Median value of Screen
# 1. Find the median value of Screen column in the dataset.
# 2. Next, calculate the most frequent value of the same Screen column.
# 3. Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
# 4. Now, calculate the median value of Screen once again.

screen = df["Screen"]
median = screen.median()
print("Pre-fill median: ", median)
mode = screen.mode()[0]
screen = screen.fillna(mode)
print("Check if there are any other NaN values: ", screen.isnull().sum())
median = screen.median()
print("Post-fill median: ", median)

Pre-fill median:  15.6
Check if there are any other NaN values:  0
Post-fill median:  15.6

In [66]:
# Q7. Sum of weights
# 1. Select all the "Innjoo" laptops from the dataset.
# 2. Select only columns RAM, Storage, Screen.
# 3. Get the underlying NumPy array. Let's call it X.
# 4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# 5. Compute the inverse of XTX.
# 6. Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
# 7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# 8. What's the sum of all the elements of the result?

innjoo = df[df["Brand"] == "Innjoo"][["RAM", "Storage", "Screen"]]
X = innjoo.values
XT = X.T
XTX = np.dot(XT, X)
inv_XTX = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100])
w = np.dot(np.dot(inv_XTX, XT), y)
print(w.sum())

91.2998806299555